.header{
    background-color: orange;
}
body{
    background-size: cover;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: chartreuse;
}
canvas{
   box-shadow:10px 10px 10px blue inset 10px 10px 10px palegoldenrod ;
   border-radius: 5px;
   border:5px solid red;
}